body{
  background-size: 500px 750px;
  background-image: linear-gradient(steelblue,purple,#FFFFFF);
}
.App {
  text-align: center;
}

.button1{
  margin-left: -20px;
  border-radius: 6px;
  border: solid 1px black;
  background-color: #7F8177;
  opacity: 0.5;

}
.button1:hover{
  background-color: green;
  color: white;
  opacity: 1;
}
.button2{
  margin-left: 20px;
  border-radius: 6px;
  border: solid 1px black;
  background-color: #7F8177;
  opacity: 0.5;
}
.button2:hover{
  background-color: red;
  color: white;
  opacity: 1;


}

@media screen and (min-width: 576px) {
  body {
    background-color: green;
    background-image: radial-gradient(whitesmoke, green);
  }

  
}